* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	position: relative;
	font-family: 'Bellefair', serif;
}
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	font-weight: 100;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 70px;
	margin: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 9;
	img {
		margin-left: 15px;
	}
	button {
		display: none;
	}
	.links {
		line-height: 60px;
		background: #ffffff0f;
		padding: 0 75px;
		padding-right: 40px;
		backdrop-filter: blur(15px);
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: -80%;
			height: 3px;
			width: 85%;
			background-color: rgb(255, 255, 255);
			opacity: 0.25;
		}
		a {
			margin: 0 10px;
			display: inline-block;
			padding: 0 5px;
			border: 5px solid rgba(255, 255, 255, 0);
			transition: 0.3s;
			&:hover {
				border-bottom: 5px solid rgba(255, 255, 255, 0.486);
			}
		}
	}
	.active {
		border-bottom: 5px solid white !important;
	}
}
.page {
	width: 100vw;
	min-height: 100vh;
	padding-top: 90px;
	background-size: cover !important;
	color: WHITE;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.home {
	background: url('../assets/home/background-home-desktop.jpg');

	.text {
		max-width: 550px;
		letter-spacing: 1.5px;
		h3 {
			font-size: 20px;
		}
		h1 {
			font-size: 150px;
		}
		p {
			font-size: 14px;
			line-height: 20px;
		}
	}
	a {
		all: unset;
		position: relative;
		color: black;
		background: white;
		padding: 15px;
		border-radius: 100vw;
		height: 100px;
		display: grid;
		width: 100px;
		cursor: pointer;
		place-items: center;
		z-index: 0;
		&:hover {
			&::before,
			&::after {
				animation: popup 0.7s alternate infinite;
			}
			&::after {
				animation: popup2 0.7s 0.3s alternate infinite;
			}
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			background: inherit;
			height: inherit;
			width: inherit;
			border-radius: 100vw;
			transform: translate(-50%, -50%);
			transform-origin: 50%;
			z-index: -1;
			opacity: 0.2;
		}
	}
}
.destination {
	background-image: url('../assets/destination/background-destination-desktop.jpg');
	.left {
		h3 {
			text-transform: uppercase;
			letter-spacing: 1.5px;
			margin-bottom: 70px;
			span {
				color: #ffffff80;
				margin-right: 10px;
			}
		}
		img {
			max-width: 300px;
		}
	}
	.right {
		width: 445px;
		.tabs {
			margin-bottom: 15px;
			.active {
				border-color: rgb(255, 255, 255);
			}
			button {
				all: unset;
				margin-right: 10px;
				border-bottom: 2px solid transparent;
				padding: 5px;
				cursor: pointer;
				transition: 0.3s;
				text-transform: uppercase;
				&:hover {
					border-color: rgba(255, 255, 255, 0.514);
				}
			}
		}
		.body {
			h1 {
				font-size: 100px;
				text-transform: uppercase;
			}
			p {
				margin: 30px 0;
				letter-spacing: 1.5px;
				line-height: 20px;
			}
			hr {
				border-color: #ffffff1c;
			}
			.details {
				display: flex;
				font-size: 25px;
				div {
					margin: 10px;
					margin-right: 30px;
					text-transform: uppercase;
					h6 {
						color: #ffffff87;
					}
				}
			}
		}
	}
}
.crew {
	align-items: flex-end;
	background-image: url('../assets/crew/background-crew-desktop.jpg');
	.text {
		max-width: 440px;
		margin: auto;
		margin-bottom: 80px;
		h3 {
			text-transform: uppercase;
			letter-spacing: 1.5px;
			margin-bottom: 70px;
			span {
				color: #ffffff80;
				margin-right: 10px;
			}
		}
		.details {
			h2 {
				opacity: 0.5;
			}
			h1 {
				margin: 25px 0;
				margin-bottom: 40px;
				font-weight: 100;
			}
		}
		.tabs {
			margin-top: 100px;
			button {
				all: unset;
				margin: 10px;
				height: 15px;
				width: 15px;
				border-radius: 100vw;
				background: #ffffff;
				cursor: pointer;
				opacity: 0.5;
				transition: 0.3s;
				&:hover {
					opacity: 0.75;
				}
			}
			.active {
				opacity: 1;
			}
		}
	}
	img {
		max-width: 440px;
		max-height: 80vh;
	}
}
.tech {
	background-image: url('../assets/technology/background-technology-desktop.jpg');
	flex-direction: column;
	justify-self: center;
	align-items: flex-start;
	h3 {
		letter-spacing: 1.5px;
		margin-left: 70px;
		span {
			color: #ffffff80;
			margin-right: 10px;
		}
	}
	.container {
		display: flex;
		justify-content: space-between;
		width: inherit;
		align-items: center;
		.tabs {
			margin-left: 70px;
			button {
				all: unset;
				display: block;
				height: 40px;
				width: 40px;
				border: 2px solid #ffffff78;
				border-radius: 100vw;
				text-align: center;
				margin: 10px;
				cursor: pointer;
				line-height: 40px;
				transition: 0.3s;
				&:hover {
					border-color: rgba(255, 255, 255, 0.678);
				}
			}
			.active {
				background: white;
				color: black;
			}
		}
		.text {
			max-width: 400px;
			h1 {
				margin-bottom: 50px;
			}
		}
		img {
			max-height: 60vh;
		}
	}
}
@keyframes popup {
	to {
		transform: translate(-50%, -50%) scale(1.7);
	}
}
@keyframes popup2 {
	to {
		transform: translate(-50%, -50%) scale(1.8);
	}
}

@import 'queries';
